# Visual Studio
.vs/
*.suo
*.user

# Build Output
**/bin/
**/obj/

# Node
**/node_modules/
**/dist/

# Logs
**/Logs/
*.log

# Publish Output
publish/

# VS Code
.vscode/

# Rider
.idea/

# Secrets
appsettings.Development.json