/* ==========================================================================
   Performance History
   ========================================================================== */

.performance-history__range-selector {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}